.header {
	// padding-top: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black; 
}

.full {
	padding-top: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black; 
}

.header h3 {
	font-family: Georgia;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px #000;
	// padding-bottom: 2em;
	// display: inline-block;
	margin-left: 1em;

}

.full-full {
	height: auto;
	border: none;
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 99;
	left: 0;
	right: 0;
}