$blue: #b9e5da;
$orange: #f04e26;
$green: #9dd285;
$main-background: #e8f0ec;

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700|Didact+Gothic);

@import 'search.scss';
@import 'settings.scss';

.app {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

body {
	background: #999;
	margin:0;
}

button {
	font-family: 'Didact Gothic';

	&:hover {
		cursor: pointer;
	}
}

div {
	font-family: 'Didact Gothic';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu';
}

header {
			border-bottom: 2px solid #262322;
			background-color: white;
			padding: 10px;

	> .logo {
		vertical-align: middle;
		width: 70%;
		max-width: 270px;
		min-width: 220px;
	}

	.account {
		text-align: right;

		> img {
			width: 12%;
			max-width: 23px;
		}

		span {
			color: $orange;
			font-size: 16px;
		}
		
	}

	.account-options {

		position: absolute;
		right: 5px;
		background-color: white;
		border-radius: 4px;
		border: 1px solid black;

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {
				padding: 10px;
			}
		}
	}

}

#downarrow {
	border: none;
	background: none;
}

.page-region {
	background-color: $blue;
	padding: 1px;
	min-height: 800px;
}

.plant-list-region {
	background-color: $main-background;
	padding-top: 1px;
	min-height: 800px;
	box-shadow: -7px 0px 12px -2px rgba(0,0,0,0.2);

}

.plant-water-region {
	box-sizing: border-box;
	padding: 10px;

	h2 {
		font-size: 25px;
		font-weight: 300;
		margin: 20px 0;
	}
}

.water, .water-all {
	border: none;
	color: white;
	padding: 5px 15px;
	background-color: $orange;
	border-radius: 4px;
	float:right;
	margin: 20px 0;
	box-sizing: border-box;
	width: 30%;
	max-width: 83px;

}

.water-plant {
	border-bottom: 1px solid #E8FFEA;
	clear: both;
}

.water-plant > h3 {
	display: block;
	float: left;
	width: 70%;
	font-family: 'Didact Gothic';
	font-size: 20px;
}



.plant-header {

	box-sizing: border-box;
	padding: 10px;

	> h3 {
		font-size: 25px;
		margin: 20px 0;
		font-weight: 300;
		width: 70%;
		float: left;
	}

	button {
		float: right;
		width: 30%;
		margin: 20px 0;
		box-sizing: border-box;
		color: white;
		background-color: $orange;
		border-radius: 4px;
		max-width: 120px;
		border: none;
		font-size: 16px;
		padding: 10px;
	}
}

.container {
	position: relative;
	perspective: 800px;
	height: 400px;
	width: 100%;
	padding: 10px;
	float: left;
	box-sizing: border-box;

}

.card {
	width: 100%;
	height: 100%;
	border-radius: 6px;
	transform-style: preserve-3d;
	transition: transform 1s;
	-webkit-box-shadow: 0px 5px 9px 1px rgba(38,35,34,0.4);
	-moz-box-shadow:    0px 5px 9px 1px rgba(38,35,34,0.4);
	box-shadow:         0px 5px 9px 1px rgba(38,35,34,0.4);
	}

.card.flipped {
	transform: rotateY( 180deg );
	border-radius: 6px;
}

.card .front,
.card .back {
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	color: black;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 6px;
	background-color: white;
}

.card .back {
	text-align: left;
	transform: rotateY( 180deg );
	background-color: #E8FFEA;
}

.detail-img {
	> img {
		width: 100%;
	}
}

.plant-title {
	margin-top: 0;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.plant-value {
	margin: 0;
	font-family: 'Didact Gothic';
}

.plant-info {
	margin-bottom: 20px;

	label {
		display: block;
		font-family: 'Ubuntu';
		font-weight: 700;
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 5px;
	}
}

.health-status-region {
	width: 100%;
	border: 1px solid black;
	border-radius: 50px;
	height: 30px;
	overflow: hidden;
}

.health {
	border-radius: 50px 0 0 50px;
}

.last-watered {
	text-align: right;
}

.edit, .flip, .save {
	background-color: $orange;
	color: white;
	border-radius: 4px;
	border: none;
	padding: 10px;
}

.delete {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border: none;
	color: white;
	background: $orange;
}

.cf:after {
	content:'';
	display: table;
	clear: both;
}

@media(min-width: 400px) {
	.container {
		width: 50%;
	}

	.logo {
		float: left;
	}

	.account {
		float: right;
		width: 30%;
	}
}

@media(min-width: 700px) {
	.plant-water-region {
		width: 30%;
		float: left;
	}

	.plant-list-region {
		width: 70%;
		float: left;
	}

}

@media (min-width: 1000px) {
	.container {
		width: 33.3%;
	}

	.plant-water-region {
		width: 25%;
	}

	.plant-list-region {
		width: 75%;
	}
}


@media (min-width: 1200px) {
	header > .logo {
				display: inline-block;
				margin: 20px;
				width: 30%;
				max-width: 300px;

	}	

	.account {
		float: right;
		margin: 20px;
		text-align: right;
		vertical-align: middle;

		> img {
			width: 20%;
			vertical-align: middle;
			}
	}



}


