$blue: #b9e5da;
$orange: #f04e26;
$green: #9dd285;
$main-background: #e8f0ec;

@-ms-viewport{
  width: device-width;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700|Didact+Gothic);

@import 'search';
@import 'settings';

*, *:before, *:after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.app {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

body {
	background-image: url('assets/images/option2.png');
	margin:0;
}

button {
	font-family: 'Didact Gothic';

	&:hover {
		cursor: pointer;
	}
}

div {
	font-family: 'Didact Gothic';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu';
}

button:focus {outline:0;}


.nav-region {
	height: 10vh;
}

.login {
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	max-width: 1200px;
	background-image: url('assets/images/login.png');
	background-size: cover;
	background-position: bottom;
}

.login > div {
	width: 80%;
	margin: 20px auto;

	img {
		width: 100%;
		display: block;
		margin: 20px auto;
		max-width: 411px;
	}

	div {
		margin-bottom: 20px;
	}

	input {
		width: 100%;
		height: 30px;

	}

	input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
		box-shadow: 0 0 0px 1000px white inset;
		background-color: white !important;
	}

	label {
		display: block;
		font-size: 1.1em;
		margin-bottom: 10px;
	}

	.login-button, .register-button {
		border: none;
		background-color: $orange;
		color: white;
		border-radius: 4px;
		width: 70%;
		display: block;
		padding: 10px 0;
		font-size: 1.1em;
		margin: 10px auto;
	}

	.register-button-login-view, .register-back-button {
		border: 2px solid $orange;
		background: transparent;
		color: $orange;
		border-radius: 4px;
		width: 70%;
		display: block;
		padding: 10px 0;
		font-size: 1.1em;
		margin: 10px auto;
	}
}

header {
	border-bottom: 2px solid #262322;
	background-color: white;
	height: 100%;
	position: relative;
	z-index: 99;
	min-height: 60px;
	line-height: 10vh;

	> .mobile-logo {
		position: absolute;
		width:10%;
		top: 5px;
		left: 10px;
	}

	.logo {
		display: none;
	}

	.account {
		text-align: right;

		> img {
			width: 12%;
			max-width: 23px;
		}

		span {
			color: $orange;
			font-size: 16px;
		}
		
	}

	.account-options {

		position: absolute;
		right: 5px;
		top: 50px;
		background-color: white;
		border-radius: 4px;
		border: 1px solid black;
		line-height: 1.5em;
		width: 150px;
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s;

		&.inactive {
			visibility: hidden;
			opacity: 0;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {
				padding: 10px;
				color: $orange;
			}
		}
	}

}
.water-list.visible {
	display: block;
	width: 100%;
}

error {
	height: 10px;
	width: 100%;
}

.reminders {
	width: 100%;
}

.back {
	display: block;
	width: 100%;
}

.health {
	width: 60%;
	height: 30px;
	display: inline-block;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

h3.active {
	display: none;
}

.health-description {
	width: 100%;
}

.default-name.inactive {
	display: none;
}

.new-plant-info.inactive {
	display: none;
}

.default-plant-info.inactive {
	display: none;
}

h3.hide {
	display: none;
}

#downarrow {
	border: none;
	background: none;
	transition: transform 1s;

	&.showing-settings {
		transform: rotateZ(180deg);
	}
}

.page-region {
	background-color: $blue;
	padding: 1px;
	position: relative;
	height: 90vh;
}

.page-title {
	font-weight: 300;
	font-size: 30px;
}

.plant-list-region {
	background-color: $main-background;
	width: 100%;
	padding-top: 1px;
	box-shadow: -7px 0px 12px -2px rgba(0,0,0,0.2);
}

.plant-list-region.full {
	position: absolute;
	top: 0;
	width: 100%;
	max-width: 1200px;
}

.plant-water-region {
	box-sizing: border-box;
	padding: 10px;

	h2 {
		font-size: 30px;
		font-weight: 300;
		margin: 20px 0;
		text-align: center;
	}
}

.water, .water-all {
	border: none;
	color: white;
	padding: 5px 15px;
	background-color: $orange;
	border-radius: 4px;
	float:right;
	margin: 20px 0;
	box-sizing: border-box;
	width: 30%;
	max-width: 83px;

}

.water-plant {
	border-bottom: 1px solid #E8FFEA;
	clear: both;
}

.water-plant > h3 {
	display: block;
	float: left;
	width: 70%;
	font-family: 'Didact Gothic';
	font-size: 20px;
}



.plant-header {

	box-sizing: border-box;
	padding: 10px;

	> h3 {
		font-size: 30px;
		margin: 20px 0;
		font-weight: 300;
		width: 70%;
		float: left;
	}

	button {
		float: right;
		width: 30%;
		margin: 20px 0;
		box-sizing: border-box;
		color: white;
		background-color: $orange;
		border-radius: 4px;
		max-width: 120px;
		border: none;
		font-size: 16px;
		padding: 10px;
	}
}

.container {
	position: relative;
	perspective: 800px;
	height: 417px;
	width: 100%;
	padding: 10px;
	float: left;
	box-sizing: border-box;

}

.card {
	width: 100%;
	height: 100%;
	border-radius: 6px;
	transform-style: preserve-3d;
	transition: transform 1s;
	-webkit-box-shadow: 0px 5px 9px 1px rgba(38,35,34,0.4);
	-moz-box-shadow:    0px 5px 9px 1px rgba(38,35,34,0.4);
	box-shadow:         0px 5px 9px 1px rgba(38,35,34,0.4);
	}

.card-search {
	width: 100%;
	height: 100%;
	border-radius: 6px;
	transform-style: preserve-3d;
	transition: transform 1s;
	-webkit-box-shadow: 0px 5px 9px 1px rgba(38,35,34,0.4);
	-moz-box-shadow:    0px 5px 9px 1px rgba(38,35,34,0.4);
	box-shadow:         0px 5px 9px 1px rgba(38,35,34,0.4);
	background-color: white;
	padding: 10px;
}

.card.flipped {
	transform: rotateY( 180deg );
	border-radius: 6px;
}

.card .front,
.card .back {
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	color: black;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 10px;
	background-color: white;
}

.card .back {
	text-align: left;
	transform: rotateY( 180deg );
	background-color: #E8FFEA;
}

.detail-img {
	> img {
		width: 100%;
	}
}

.plant-title {
	margin-top: 0;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.plant-value {
	margin: 0;
	font-family: 'Didact Gothic';
}

.plant-info {
	margin-bottom: 20px;

	label {
		display: block;
		font-family: 'Ubuntu';
		font-weight: 700;
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 5px;
	}
}

.health-status-region {
	width: 100%;
	border: 1px solid black;
	border-radius: 50px;
	height: 30px;
	overflow: hidden;
}

.health {
	border-radius: 50px 0 0 50px;
}

.last-watered {
	text-align: right;
	margin-bottom: 10px;
}

.edit, .flip, .save, .add {
	background-color: $orange;
	color: white;
	border-radius: 4px;
	border: none;
	padding: 10px;
	width: 30%;
	margin-top: 10px;
}

.back > .flip {
	float: right;
}

.add {
	display: block;
	margin: 10px auto;
	width: 50%;
}

.delete {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border: none;
	color: white;
	background: $orange;
}

.cf:after {
	content:'';
	display: table;
	clear: both;
}

@media screen and (min-width: 420px) {
	.mobile-logo {
		display: none;
	}

	header .logo {
		display: inline-block;
		vertical-align: middle;
		width: 70%;
		max-width: 270px;
		min-width: 220px;
		position: absolute;
		left: 10px;
		
		img {
			vertical-align: middle;
		}
	}

	.container {
		width: 50%;
		height:388px;
	}

	.account {
		float: right;
		width: 30%;
	}
}

@media screen and (min-width: 700px) {

.login > div {
	text-align: center;

	div {
		margin-bottom: 20px;
	}

	input {
		width: 70%;
		margin-left: 10px;
		max-width: 484px;

	}

	input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
		box-shadow: 0 0 0px 1000px white inset;
		background-color: white !important;
	}

	label {
		display: inline-block;
		font-size: 1.1em;
	}

	.login-button, .register-button-login-view, .register-button, .register-back-button {
		width: 40%;
		display: inline-block;
		margin: 20px 10px;
		max-width: 224px
	}
}

	.app {
		position: relative;
	}

	.home {
		height: 100%;
	}

	.page-region {
		position: absolute;
		width: 100%;
		height: 90vh;
	}

	.plant-water-region {
		overflow: scroll;
		width: 30%;
		height: 100%;
	}

	.plant-list-region {
		width: 70%;
		top: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		overflow: scroll;
		transition: width 1s ease;
	}

	.plant-list-region.full {
		.container {
			width: 33.3%;
			height: 376px;
		}
	}

}

@media screen and (min-width: 1000px) {
	.container {
		width: 33.3%;
	}

	.plant-water-region {
		width: 25%;
	}

	.plant-list-region {
		width: 75%;
	}

	.plant-list-region.full {
		.container {
			width: 25%;
		}
	}
}


@media (min-width: 1200px) {
	header > .logo {
		// margin: 20px;
		// width: 30%;
		// max-width: 300px;
	}

	// .account {
	// 	float: right;
	// 	margin: 20px;
	// 	text-align: right;
	// 	vertical-align: middle;

	// 	> img {
	// 		width: 20%;
	// 		vertical-align: middle;
	// 	}
	// }
}


