.settings-region {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;

	h3 {
		font-weight: 300;
		font-size: 25px;
	}

	.phone, .email, .reminders {
		display: block;
		font-family: 'Ubuntu';
		font-weight: 700;
		margin: 20px 0;

		label {
			display: block;
			margin-bottom: 10px
		}
	}

	.phone, .email {
		input {
			height: 30px;
			width: 40%;
		}

	}

	.reminders {
		input {
			font-family: 'Didact Gothic';
		}
	}

	.go-back {
		font-family: 'Ubuntu';
		font-size: 22px;
		background: transparent;
		border: none;
		color: $orange;
		font-weight: 300;
	}

	.delete-account {
		text-align: right;
		color: $orange;
		background: transparent;
		border: none;
		text-decoration: underline;
	}
}